body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    max-width: 65vh;
    margin: 0 auto;
    position: relative;
}

input:focus {
    outline:none;
}

.party_body {
    overflow: hidden;
    height: 100vh;
}

.profile_body, .party_body, .loading_container {
    background:linear-gradient(-120deg, #483DFF, #3C0044) fixed;
}

.map_body {
    background:#eee;
}

.profile_body, .playmatch_body, .connections_body {
    padding-bottom: 10vh;
}

p, h1, h2, h3, h4, h5 {
    margin:0;
}

nav {
    position: fixed;
    left: auto;
    height: 8vh;
    background: #111;
    bottom: 0;
    display: flex;
    z-index: 2;
    max-width: 65vh;
    box-shadow: 0 0vh 7vh 2vh;
}

.prof_description {
    color: white;
    text-align: center;
    font-size: 4.5vw;
    width: 90%;
    margin: 3vh auto -3vh auto;
}

.add_description {
    background: rgba(255,255,255,0.2);
    padding: 1vh 0;
    border-radius: 4vh;
}

.bar {
    width: 100%;
    display: block;
    /* transform: translateY(-90%); */
    position: absolute;
    height: 1vh;
}

nav a {
    width: 20vw;
}

nav a img {
    height: 50%;
    display: block;
    position: relative;
    top: 30%;
    width: 100%;
}

h3 {
    text-align: center;
    font-weight: 200;
    padding: 3vh 0 1vh 0;
    font-size: 5vh;
}

.skew_level{
    display: inline-block;
    width: 38%;
    background: #06F;
    color: white;
    text-align: center;
    margin: 0 auto 1vh auto;
    display: block;
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}

.skew_level p {
    font-size: 3vh;
    line-height: 4vh;
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
}

.common_info {
    text-align: center;
    font-size: 3vh;
    margin-bottom: 2vh;
}

.top_box {
    background: white;
}

.top_box_playmatch {
    height: 38vh;
    background-image: url(assets/hive_bg.svg);
    background-size: calc(100%/5);
}

.top_box_profile {
    height: 30vh;
}

.top_box_playmatch > img {
    height: 80%;
    transform:scale(0);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
}

.top_box_profile > img {
    top: 12%;
    height: 130%;
    max-width: 90%;
    object-fit: contain;
}

.top_box > img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.prof_name {
    font-size: 5vh;
    font-weight: 400;
}
.sub_info {
    font-size: 3vh;
    font-weight: 300;
}

.prof_name, .sub_info {
    color:white;
    text-align: center;
}

.info_box {
    position: relative;
    padding: 14vh 0 2vh 0;
    background:rgba(255,255,255,0.2)
}

.info_box::after {
    top: 2vh;
    left: 1vh;
}

h1 {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 6.2vw;
    z-index: 1;
    padding: 1.4vh 0;
    margin: 6vh 0 2vh 0;
    background: linear-gradient(160deg, rgba(255,255,255,0.1),rgba(255,255,255,0.5));
}

h1 span {
    font-size: 2.6vh;
    opacity: 0.6;
    position: absolute;
    right: 5%;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}

.game_list {
    height: 40vh;
}

.playmatch_body .list_holder:not(.game_list), .profile_body .list_holder:not(.game_list) {
    height: 27.4vh;
}

.playmatch_body .list_holder, .profile_body .list_holder {
    background: rgba(255,255,255,0.2);
}

.playmatch_body .list_holder article, .profile_body .list_holder article {
    width: 30vh;
    min-width: 30vh;
}

.playmatch_body .list_holder article div, .profile_body .list_holder article div {
    font-size: 3vh;
    padding: 2vh 1vh;
}

.list_holder {
    width: 100%;
    overflow-x: scroll;
    padding-left: calc(50% - 15vh);
    box-sizing: border-box;
    display: flex;
}

.list_holder article {
    height: 100%;
    margin-right: 3vh;
    display: inline-block;
    position: sticky;
    left: calc(15vh - 50vw);
}

.list_holder article img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.list_holder article div {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    box-sizing: border-box;
}


.in_common::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1vh;
    background-image: url(assets/footer/footer_bar.svg);
    background-size: contain;
    transform: translateY(-90%);
}

.down_bts {
    /* width: 38%; */
    display: block;
    margin: 8vh auto;
}

.editable::after, .deletable::after, .locked::after, .unlocked::after {
    content: "";
    position: absolute;
    height: 15%;
    width: 15%;
    min-width: 3vh;
    min-height: 3vh;
    transform: translateY(40%) translateX(40%);
    -webkit-transform: translateY(40%) translateX(40%);
    -moz-transform: translateY(40%) translateX(40%);
    -ms-transform: translateY(40%) translateX(40%);
    -o-transform: translateY(40%) translateX(40%);
    background-repeat: no-repeat;
}

.editable::after {
    background-image: url(assets/edit.svg);
}

.deletable::after {
    background-image: url(assets/delete.svg);
}

.locked::after {
    background-image: url(assets/playmatch/locked.svg);
    right: 10%;
}
.unlocked::after {
    background-image: url(assets/playmatch/unlocked.svg);
    right: 10%;
}

.hor_flex {
    display: flex;
}

.width80 {
    width: 80%;
}

.ver_flex {
    display: flex;
    flex-direction: column;
}

.party_title {
    margin: 0 auto 4vh auto;
}

.party_title span {
    font-size: 7vh;
    margin: 0 3vw 0 0;
    color:white;
}
.party_title h2 {
    font-size: 15px;
    color: white;
    font-weight: 300;
    transform: translateY(20%);
}
.party_input_div {
    width:80%;
    margin: 0 auto 2.5vh auto;
}
.party_input_div span {
    color: white;
    margin-bottom: 0.5vh;
    letter-spacing: 0.2vh;
    font-size: 2vh;
}
.party_input_div div {
    background: rgba(255,255,255,0.15);
    border-top: 0.3vh solid white;
    height: 5.5vh;
    color: white;
    padding-left: 8%;
    box-sizing: border-box;
    font-size: 2.8vh;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 200; */
}

.party_input_div div p {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.search_bt {
    width: 80%;
    height: 14vw;
    background: rgba(0,0,0,0.7);
    margin: 0 auto;
    max-height: 8vh;
}

.search_bt span {
    color: white;
    text-align: right;
    width: 90%;
    display: block;
    font-size: 3.5vh;
    font-weight: 200;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    letter-spacing: 0.5vh;
}

.big_prof_img {
    display: block;
    margin: 0 auto;
    width: 55vw;
    max-width: 80%;
    transition:transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition:transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition:transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition:transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition:transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.hide_party_form {
    opacity:0;
    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    -o-transform:translateY(-100%);
}

#party_form {
    padding-bottom: calc(10vh - 5vw);
    padding-top: 4vh;
    transition:transform 1s ease, opacity 1s ease;
    -webkit-transition:transform 1s ease, opacity 1s ease;
    -moz-transition:transform 1s ease, opacity 1s ease;
    -ms-transition:transform 1s ease, opacity 1s ease;
    -o-transition:transform 1s ease, opacity 1s ease;
}

.translateX1 {
    transform:translateX(-30vw);
    -webkit-transform:translateX(-30vw);
    -moz-transform:translateX(-30vw);
    -ms-transform:translateX(-30vw);
    -o-transform:translateX(-30vw);
}

.party_forming {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:15vw;
    opacity:0;
    visibility: hidden;
    transition:opacity 1s ease;
    -webkit-transition:opacity 1s ease;
    -moz-transition:opacity 1s ease;
    -ms-transition:opacity 1s ease;
    -o-transition:opacity 1s ease;
}

.show_forming_party {
    opacity:1;
    visibility: visible;
}

.abandon_party {
    background: red;
    height: 5vh;
    text-align: center;
    color: white;
    line-height: 5vh;
    font-size: 2.5vh;
    letter-spacing: 0.5vh;

}

.forming_party_info {
    margin: 2vh auto;
    width: 100%;
}

.forming_party_info > div {
    background:rgba(0,0,0,0.7)
}
.forming_party_info > div:first-child {
    color: white;
    width: 73%;
    margin-right:4%;
    border-radius: 0 0 4vh 0;
    color: white;
    padding: 3vh;
    box-sizing: border-box;
}
.forming_party_info > div:last-child {
    width: 23%;
    border-radius: 4vh 0 0 0 ;
    -webkit-border-radius: 4vh 0 0 0 ;
    -moz-border-radius: 4vh 0 0 0 ;
    -ms-border-radius: 4vh 0 0 0 ;
    -o-border-radius: 4vh 0 0 0 ;
}

.forming_party_info span {
    font-size: 3.5vw;
    letter-spacing: 1vw;
    font-weight: 300;
}

.forming_party_info p {
    font-size: 5vw;
    margin-top: 1vh;
}
.forming_party_info p b {
    font-weight: 500;
}

.forming_party_info img {
    position: relative;
    height: 32%;
    margin: 0 auto;
    display: block;
    top: 34%;
}
.user1, .user2, .searching_user {
    position: absolute;
    height: 37vw;
    max-height: 25vh;
    transform: scale(0);
    transition:0.6s ease-in-out;
    -webkit-transition:0.6s ease-in-out;
    -moz-transition:0.6s ease-in-out;
    -ms-transition:0.6s ease-in-out;
    -o-transition:0.6s ease-in-out;
}
.user1 {
    left: 3vw;
    bottom: calc(20vh + 20vw);
}
.user2 {
    right: 20vw;
    bottom: calc(15vh + 15vw);
}
.searching_user {
    bottom: 0;
    right: 6%;
}

.user_lines {
    position: absolute;
    bottom: 7%;
    width: 65%;
    left: 16%;
    max-width: 50vh;
    transform-origin: bottom left;
    opacity:0;
    transform:scale(0);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transition:1s ease-in-out;
    -webkit-transition:1s ease-in-out;
    -moz-transition:1s ease-in-out;
    -ms-transition:1s ease-in-out;
    -o-transition:1s ease-in-out;
}

.bokeh_bg {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
}




/* PLAYMATCH */



.loading_container {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 2;
    transition:opacity 1s ease, visibility 1s ease;
    -webkit-transition:opacity 1s ease, visibility 1s ease;
    -moz-transition:opacity 1s ease, visibility 1s ease;
    -ms-transition:opacity 1s ease, visibility 1s ease;
    -o-transition:opacity 1s ease, visibility 1s ease;
    will-change:opacity;
    visibility: visible;
    opacity: 1;
}

.loading_container p {
    text-align: center;
    color:white;
    font-size:3.8vh;
    font-weight: 300;
}

.loading_container div {
    width: 27.4vh;
    height: 27.4vh;
    margin: 22vh auto 3vh auto;
}

.loading_container div div {
    width: 70%;
    height: 70%;
    display: block;
    margin: 15vh auto 5vh auto;
    background-image: url(assets/playmatch/load_item.svg);
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate_div 4s linear;
    animation-iteration-count: 1;
    -webkit-animation: rotate_div 4s linear;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@keyframes rotate_div {
    0% {
        transform: translateY(-50%) rotate(0deg);
        -webkit-transform: translateY(-50%) rotate(0deg);
        -moz-transform: translateY(-50%) rotate(0deg);
        -ms-transform: translateY(-50%) rotate(0deg);
        -o-transform: translateY(-50%) rotate(0deg);
}
    100% {
        transform:translateY(-50%) rotate(360deg);
        -webkit-transform:translateY(-50%) rotate(360deg);
        -moz-transform:translateY(-50%) rotate(360deg);
        -ms-transform:translateY(-50%) rotate(360deg);
        -o-transform:translateY(-50%) rotate(360deg);
}
}






/* MAPA */



.gmaps_bars_iframe, .gmaps_shopping_iframe {
    height: 72vh;
    width: 100%;
    position: relative;
}

.gmaps_shopping_iframe {
    display: none;
}

.top_div, .top_div_span {
    width: 100%;
    box-sizing: border-box;
}

.top_div {
    top: 0;
    background: #111;
    position: sticky;
    z-index: 2;
}

.top_div_span {
    top:7.5vh;
}

.map_top_div {
    height: 12vh;
}

.top_div p, .top_div_span span {
    font-size: 3vh;
    width: 80%;
    margin: 0 auto;
    display: block;
    font-weight: 300;
    text-align: center;
}

.top_div p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.top_div_span span {
    line-height: 10vh;
    color: #222;
    font-size: 5vh;
}

.bares, .lojas {
    width:50%;
    height:8vh;
    background: #1F1F1F;
}

.choosen {
    background: #444;
    border-bottom: 1vh solid #222;
    box-sizing: border-box;
}

.bares p, .lojas p {
    font-size: 5vw;
    color:white;
    text-align: center;
    line-height: 8vh;
}



/* PARTY */


.party_loading_container, .map_loading_container {
    z-index: 2;
    transition:transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition:transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition:transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition:transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition:transform 1s cubic-bezier(0.4, 0, 0.2, 1);
    will-change:transform;
}

.map_loading_container {
    position: absolute;
    bottom: 30%;
    width: 100%;
    z-index: 0;
}

.party_loading_container div, .map_loading_container div {
    border-radius: 100%;
}

.party_loading_container div {
    background: #CCC;
    width: 30vw;
    height: 30vw;
}

.map_loading_container div {
    margin: 0 auto;
    width: 50vw;
    height: 50vw;
}

.party_loading_container div div, .map_loading_container div div {
    width: 70%;
    height: 70%;
    display: block;
    margin: 0 auto;
    background-image: url(assets/playmatch/load_item.svg);
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate_div 4s linear;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-animation: rotate_div 4s linear;
}

.party_loading_container div div {
    animation-iteration-count: infinite;
}

.map_loading_container div di {
    animation-iteration-count: 1;
}

@keyframes rotate_div {
    0% {
        transform: translateY(-50%) rotate(0deg);
        -webkit-transform: translateY(-50%) rotate(0deg);
        -moz-transform: translateY(-50%) rotate(0deg);
        -ms-transform: translateY(-50%) rotate(0deg);
        -o-transform: translateY(-50%) rotate(0deg);
}
    100% {
        transform:translateY(-50%) rotate(360deg);
        -webkit-transform:translateY(-50%) rotate(360deg);
        -moz-transform:translateY(-50%) rotate(360deg);
        -ms-transform:translateY(-50%) rotate(360deg);
        -o-transform:translateY(-50%) rotate(360deg);
}
}


/* CONNECTIONS */

.connections .left_container {
    width:38%;
}

.connections .right_container {
    width:62%;
}
.connections_top_div {
    height: 7.5vh;
}

.connections_top_div a {
    width:calc(100%/3)
}

.connections_top_div a img {
    height: 50%;
    width: 100%;
    position: relative;
    top: 25%;
}
.connections_top_div a:nth-child(2) {
    background: #333;
}

.connections > article {
    width: 100%;
    margin-bottom: 3vh;
    position: relative;
    height: 38vw;
    background: #F5F5F5;
}

.right_container > a, .talking_to_profile > a {
    position: absolute;
    right: 0;
    left: 21%;
    bottom: 18%;
    height: 30%;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

    .right_container > a {
        padding-left: 10vh;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 1vh 2vh rgba(0,0,0,0.3);
    }

    .talking_to_profile > a {
        padding-left: 14vh;
        background: #FFF;
        box-shadow: 0 1vh 2vh rgba(0,0,0,0.1);
    }

.right_container > a p, .talking_to_profile > a p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    letter-spacing: 1px;
}

    .right_container > a p {
        color:#555;
    }

    .talking_to_profile > a p {
        color:#555;
    }

.right_container > span {
    display: block;
    font-size: 3.8vh;
    line-height: 8vh;
    color:#444;
}

.color_bar {
    width: 100%;
    height: 0.8vh;
    position: absolute;
    top: calc(38% - 0.4vh);
    z-index: 1;
}

.color_bar1 {
    background:linear-gradient(-120deg, #00f58d, #0088d8);
}
.color_bar2 {
    background:linear-gradient(-120deg, #ff6a00, #edd214);
}
.color_bar3 {
    background:linear-gradient(-120deg, #000000, #333333);
}
.color_bar4 {
    background:linear-gradient(-120deg, #483DFF, #3C0044) fixed;
}
.color_bar5 {
    background:linear-gradient(-120deg, #CC0, #E00) fixed;
}
.left_container img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10%;
    z-index: 1;
}

.left_container span {
    text-align: center;
    display: block;
    color: #777;
    font-size: 2vh;
}

.connections .list_holder {
    height: 80%;
    position: relative;
    top: 10%;
    padding-left: 3vh;
}

.connections .list_holder article {
    min-width: 16vh;
}

.connections .list_holder article div {
    padding: 1vh;
    font-size: 2.5vh;
}

.chat_input {
    width: 100%;
    height: 8vh;
    background: #222;
    position: sticky;
    bottom: 8vh;
    z-index: 3;
}

.chat_input aside {
    position: relative;
    left: 2%;
    top: 15%;
    width: 60%;
    height: 70%;
    background: #111;
    border-radius: 20vh;
}

.chat_input aside p {
    color: #666;
    text-align: center;
    font-size: 2.7vh;
    letter-spacing: -1px;
    line-height: 5.5vh;
    font-weight: 300;
}

.chat_input div {
    position: absolute;
    bottom: 3vh;
    right: 2vh;
    width: 9vh;
    height: 9vh;
    border-radius: 10vh;
    background: #222;
    box-shadow: 0 0.8vh 0 0.2vh #111;
}

.chat_input div img {
    position: relative;
    margin: 0 auto;
    display: block;
    top: 27.5%;
    height: 45%;
}


/* CHAT */

.talking_to_profile {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2vh 0 1vh 0;
    background: #FAFAFA;
    z-index: 1;
}

.talking_to_profile img {
    width: 27.4%;
    z-index: 2;
    position: relative;
    left: 8%;
}

.talking_to_profile span {
    position: absolute;
    color: #222;
    font-size: 6vw;
    left: 45%;
    line-height: 8vw;
}

.share {
    width: 12%;
    height: 40%;
    position: relative;
    top: 30%;
    transform: translateX(15%);
}

.conversation_area {
    width: 100%;
    padding: 3vh 5% 0 5%;
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 10vh;
}

.your_msg, .user_msg {
    display: inline-block;
    width: 100%;
}

.your_msg div, .user_msg div {
    min-height: 7vh;
    padding: 2vh 4vh;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 2vw;
}

    .your_msg div {
        border-radius: 4vh 4vh 0 4vh;
        -webkit-border-radius: 4vh 4vh 0 4vh;
        -moz-border-radius: 4vh 4vh 0 4vh;
        -ms-border-radius: 4vh 4vh 0 4vh;
        -o-border-radius: 4vh 4vh 0 4vh;
        background: #FAFAFA;
        float: right;
        box-shadow: inset 0 1vh 3vh #EEE;
    }
    .user_msg div {
        border-radius: 4vh 4vh 4vh 0;
        -webkit-border-radius: 4vh 4vh 4vh 0;
        -moz-border-radius: 4vh 4vh 4vh 0;
        -ms-border-radius: 4vh 4vh 4vh 0;
        -o-border-radius: 4vh 4vh 4vh 0;
        box-shadow: inset 0 1vh 3vh rgba(255,255,255,0.5);
        background: linear-gradient(-120deg, #ff6a00, #edd214);
    }


.your_msg div p, .user_msg div p {
    font-size: 4.5vw;
}

.your_msg div p {
    color: #555;
    text-align: right;
}
.user_msg div p {
    color: white;
}

.conversation_area > span {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 2vw 0;
    color: #AAA;
    font-size: 2vh;
    letter-spacing: 0.4vw;
}

























































@media screen and (min-width: 70vh) {

    .prof_description, .bares p, .lojas p, .right_container > a p, .talking_to_profile > a p {
        font-size: 3vh;
    }

    .your_msg div p, .user_msg div p {
        font-size: 2.5vh;
    }

    h1 {
        font-size: 4vh;
    }

    .talking_to_profile span {
        font-size: 3.6vh;
        line-height: 4.5vh;
    }

    .map_loading_container div {
        width: 38vh;
        height: 38vh;
    }

    .connections > article {
        height: 23vh;
    }

    .your_msg div, .user_msg div {
        margin-bottom: 1vh;
    }
    .conversation_area > span {
        letter-spacing: 0.4vh;
    }
}